:root {
  --c-border: hsl(0 0% 60%);
  --c-accent-bg: hsl(50, 100%, 60%);
}

*,
::before,
::after {
  box-sizing: border-box;
  font-size: inherit;
}

html {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}

body {
  min-height: 100vh;
  font-size: 18px;
  margin: 0;
}

i[class*="iconoir-"] {
  font-size: 1.5em;
}

.children-no-margin>* {
  margin: 0;
}

.flow>*+* {
  margin-top: var(--gap, 1em);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap, 1em);
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.shadow {
  box-shadow: 0 0 var(--blur, 1rem) 0 hsl(0 0% 20% / 0.5);
}

.blur {
  backdrop-filter: blur(2px);
}

.transition-short {
  transition-duration: 100ms;
}

.icon-label {
  display: flex;
  align-items: center;
  gap: var(--icon-gap, 1ch);
}
