:root {
  --c-muted: hsl(0 0% 90%);
  --c-border: hsl(0 0% 60%);
  --c-accent-bg: hsl(50, 100%, 60%);
}

*,
::before,
::after {
  box-sizing: border-box;
  font-size: inherit;
}

html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

body {
  min-block-size: 100vh;
  font-size: 1.2rem;
  margin: 0;
}

a {
  color: black;
}

button {
  border: none;
}

i[class*='iconoir-'] {
  font-size: 1.5em;
}

/* Composition */

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

.children-no-margin > * {
  margin: 0;
}

.flex {
  display: flex;
}

.justify-content\:space-around {
  justify-content: space-around;
}

.align-items\:center {
  align-items: center;
}

.icon-label {
  display: flex;
  align-items: center;
  gap: var(--icon-gap, 1ch);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap, 1em);
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Utility */

.capitalize {
  text-transform: capitalize;
}

.shadow {
  box-shadow: 0 0 var(--blur, 1rem) 0 hsl(0 0% 20% / 0.5);
}

.blur {
  backdrop-filter: blur(2px);
}

.transition\:100ms {
  transition-duration: 100ms;
}

.transition\:200ms {
  transition-duration: 200ms;
}

.inline-size\:100\% {
  inline-size: 100%;
}

/* Design Tokens */

.bg-solid {
  background: hsl(0 0% 100%);
}

.bg-muted {
  background: var(--c-muted);
}

.bg-translucent {
  background: hsl(0 0% 100% / 0.8);
}
